/* Estilização geral da página */

body {e
  font-family: Playfair Display;
  padding: 20px;
  background-color: #d3b5af;
  color: #4e342e;

/* Estilização do cabeçalho */
}
header {
  text-align: center;
  margin-bottom: 40px;
font-family: Bebas Neue;
font-size:30px;

}

header img {
  width: 250px;
  height: auto; 
  margin-bottom: 0px;
}

/* Layout do cardápio usando Grid */

.cardapio {
  display: grid;
 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
max-height: 1000px;
}

/* Estilização de cada item do cardápio */

.item {
  background-color: #f6e8e6;
  border: 1px solid #d7ccc8;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 9px 12px 12px rgba(0,0,0,0.1);
  text-align: center;
  
}

.resumo{
  background-color: #fff8f0;
  border: 1px solid #d8bfa0;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  color: #5d4037;
}

.resumo h2 {
  margin-top: 0;
  color: #8d6e63;
}

.pedido {
  background-color: #fff8f0;
  border: 1px solid #d8bfa0;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  color: #5d4037;
}

.pedido label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.pedido input {
  margin-left: 10px;
  width: 50px;
  padding: 4px;
}

.pedido button {
  background-color: #8d6e63;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: block;
width: 100%;
  margin-bottom: 20px;


  
}

.pedido button:hover {
  background-color: #6d4c41;
}

#pedido, #resumo {
  background-color: #fef9f4;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 300px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}
